# HTTP config environment variables
URI_SCHEME=http
HOST_NAME=localhost

# SMTP config environment variables
MAIL_USERNAME=api-pgd@email-provider.gov.br
MAIL_FROM=api-pgd@email-provider.gov.br
MAIL_PORT=25
MAIL_SERVER=smtp.email-provider.gov.br
MAIL_FROM_NAME="API PGD"
MAIL_PASSWORD=

# PostgeSQL config environment variables
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=api_pgd

# FIEF config environment variables
FIEF_DB=fief
FIEF_SECRET=
FIEF_CLIENT_ID=
FIEF_CLIENT_SECRET=
FIEF_ENCRYPTION_KEY=
FIEF_BASE_TENANT_URL=http://fief:8000
FIEF_MAIN_USER_EMAIL=
FIEF_MAIN_USER_PASSWORD=
FIEF_MAIN_ADMIN_API_KEY=
